*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
.main_box{
    height:100vh;
    background-size: cover;
}
.btn_one{
    color: white;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    left:20px;
}
.sidebar_menu{
    height:100vh;
    width:280px;
    position:fixed;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 7px rgba(255,255,255,0.7);
    left:-300px;
    transition: all 0.2s linear;
}
.sidebar_menu .logo{
    position:absolute;
    width:100%;
    box-shadow: 0 2px 3px rgba(255,255,255,0.7);
    line-height: 50px;
    height:55px;
}
.sidebar_menu .logo a{
    position:absolute;
    font-weight: 550;
    left:50px;
    font-size: 24px;
    color:white;
    text-decoration: none;
}
.sidebar_menu .btn_two{
    color: white;
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    left:240px;
    top:7px;
}
.sidebar_menu .menu{
    position:absolute;
    width:100%;
    color:white;
    top:70px;
}
.sidebar_menu .menu li{
    margin-top:10px;
    padding: 10px 20px;
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
    font-size: 19px;
}
.sidebar_menu .menu i{
    padding-right: 5px;
}
.sidebar_menu .social_media{
    position:absolute;
    left: 30%;
    bottom:40px;
}
.sidebar_menu .social_media i{
    color:white;
    opacity:0.5;
    padding: 0 3px;
}
#check{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 3px rgba(255,255,255,0.7);
}
.btn_one:hover{
    font-size:35px;
    transition: all 0.2s linear;
}
.btn_two:hover{
    font-size:25px;
}
.sidebar_menu .social_media i:hover{
    opacity:1;
    font-size: 20px;
}
#check:checked ~ .sidebar_menu{
    left:0px;
}
#check:checked ~ .btn_one{
    opacity:0;
}
